.profile img {
    border-radius: 50%;
}

.profile-icons-right {
    align-self: flex-end;
    margin-top: -10px;
}

.profile-icons-right .social-icons {
    display: flex;
    align-items: center;
    gap: 0;
}
